.git
.github
.cache
.archive
.idea
.vscode
.DS_Store
*.iml

node_modules
dist
build-contest
coverage
tests
tauri
playwright-report
test-results

.env
.env.*
!.env.example

Dockerfile*
docker-compose*
README*
*.md
agent-tools
