# Production deploy (branch: master)
# Domain: https://justchats.shop/
# Service: dtbgram-web  |  Image tag: :latest

cd C:\work\dtbgram-web
git checkout master
git pull

aws ecr get-login-password --region ap-southeast-1 | docker login --username AWS --password-stdin 277715911124.dkr.ecr.ap-southeast-1.amazonaws.com

docker build -t dtbgram-web:latest `
  --build-arg TELEGRAM_API_ID=<id> `
  --build-arg TELEGRAM_API_HASH=<hash> `
  --build-arg BASE_URL=https://justchats.shop/ `
  --build-arg APP_ENV=production `
  --build-arg PLATFORM_API_KEY_WEBSITE=<key> `
  --build-arg PLATFORM_API_ORIGIN=https://main.dhfko7aevmlgq.amplifyapp.com `
  .

docker tag dtbgram-web:latest 277715911124.dkr.ecr.ap-southeast-1.amazonaws.com/dtbgram-web:latest
docker push 277715911124.dkr.ecr.ap-southeast-1.amazonaws.com/dtbgram-web:latest

aws ecs update-service --cluster dtbgram --service dtbgram-web --force-new-deployment --region ap-southeast-1
aws ecs wait services-stable --cluster dtbgram --services dtbgram-web --region ap-southeast-1
