.root {
  :global(.ListItem.chat-item-clickable) {
    margin: 0;

    :global(.info) {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    :global(.title) {
      max-width: 100%;
      margin-inline-end: 0;
    }

    :global(.handle) {
      font-size: 0.875rem;
    }

    &[dir="rtl"] {
      :global(.status) {
        width: auto;
      }
    }
  }

  :global(.ChatInfo) {
    :global(.title h3) {
      line-height: 1.25;
    }

    :global(.Avatar) {
      margin-right: 0.7em;
    }

    :global(.status) {
      line-height: 1.25;
    }

    :global(.handle) {
      color: var(--color-text-secondary);

      &::before {
        content: "@";
      }
    }
  }
}
